body {
  margin: 0;
  padding: 0;
  /* font-family: "Open Sans", sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 8px;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.my-name {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.nav-item {
  margin-left: 15px;
  text-decoration: none;
  text-align: center;
}

.intro-container {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 70px;
  padding-bottom: 70px;
  /* background-color: #f5f0f5; */
  background-color: #f7f7f7;
}

h1 {
  font-size: 32px;
}

.intro-title {
  font-weight: 1200;
  margin-bottom: 80px;
}

.intro-main-text {
  font-size: 20px;
  margin-bottom: 40px;
}

.intro-sub-text {
  font-size: 15px;
  padding-bottom: 50px;
}

.img-amelia {
  width: 150px;
}

h2 {
  font-weight: 1000;
  font-size: 20px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 0;
}

.technical-skills-container {
  padding-left: 25px;
  padding-right: 25px;
  justify-content: left;
}

.technical-skills-intro {
  margin-top: 50px;
  margin-bottom: 70px;
}

.technical-skills {
  margin-bottom: 60px;
}

.technical-skills-block {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  margin-bottom: 10px;
}

.technical-skill {
  /* display: flex; */
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
}

/* .technical-skill-logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.technical-skill-logo-title {
  width: 100%;
  height: auto;
}

.logo-container {
  /* background-color: #e2defc; */
  background-color: #e4e6e7;
  width: 50px;
  /* width: 100%; */
  height: 50px;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.technical-skill-logo {
  display: block;
  max-width: 45px;
  max-height: 35px;
  width: auto;
  height: auto;
  margin: auto auto;
}

/* .technical-skill-title {
  margin-top: 5px;
} */

/* .technical-skill-text {
  margin-left: 20px;
} */

.technical-skill-text {
  grid-column: 2;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 9px;
}

.projects-container {
  /* background-color: #f5f0f5; */
  /* background-color: #b8b1c9; */
  background-color: #f7f7f7;
}

.projects-title {
  background-color: #f7f7f7;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 0px;
}

.projects {
  margin-bottom: 50px;
}

.react-projects {
  padding-left: 25px;
  padding-right: 25px;
}

.project {
  /* background-color: #ebeef2; */
  /* background-color: #b8b1c9; */
  background-color: #e4e6e7;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  /* margin: 30px; */
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 15px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  /* padding-left: 30px; */
  font-weight: 700;
}

.project-image-container {
  display: flex;
  width: 130px;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  border-image-source: url(img/border2.jpg);
  border-image-slice: 60 30;
}

.project-image {
  width: 130px;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 50px;
}

.project-text {
  margin-bottom: 40px;
}

.project-button {
  background-color: #bbb;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-bottom: 6px;
}

.project-button:hover {
  background-color: #999;
}

.css-projects {
  background-color: white;
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
}

.js-projects {
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
}

.contact-container {
  text-align: center;
}

.contact-title {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 30px;
}

.contact-main-text {
  font-size: 15px;
  margin-bottom: 70px;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 15px;
  }

  header {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }

  h1 {
    font-size: 50px;
  }

  .intro-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .intro-title {
    margin-bottom: 150px;
  }

  .intro-main-text {
    font-size: 30px;
    margin-bottom: 70px;
  }

  .intro-sub-text {
    font-size: 20px;
    padding-bottom: 90px;
  }

  .img-amelia {
    width: 250px;
  }

  h2 {
    font-size: 30px;
  }

  .technical-skills-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .technical-skills-intro {
    margin-bottom: 100px;
  }

  .technical-skills {
    margin-bottom: 80px;
  }

  .technical-skill {
    gap: 30px;
  }

  .logo-container {
    width: 70px;
    height: 70px;
  }

  .technical-skill-logo {
    max-width: 60px;
    max-height: 50px;
  }

  .technical-skill-text {
    font-size: 12px;
  }

  .projects {
    margin-bottom: 80px;
  }

  .react-projects {
    padding-left: 20px;
    padding-right: 20px;
  }

  .project {
    margin: 30px;
    padding: 50px;
  }

  h3 {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .project-image-container {
    border-width: 8px;
  }

  .projects-title {
    padding-left: 50px;
    padding-right: 50px;
  }

  h4 {
    font-size: 15px;
  }

  .project-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .react-project-image-container {
    width: 400px;
    border-width: 8px;
  }

  .react-project-image {
    width: 400px;
  }

  .other-project-image-container {
    width: 400px;
  }

  .other-project-image {
    width: 400px;
  }

  .contact-title {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .contact-main-text {
    font-size: 20px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }

  header {
    font-size: 18px;
  }

  .nav-item {
    margin-left: 30px;
  }

  .intro-container {
    padding-bottom: 100px;
  }

  h1 {
    font-size: 65px;
  }

  .intro-main-text {
    font-size: 36px;
  }

  .intro-sub-text {
    font-size: 25px;
    padding-bottom: 120px;
  }

  .img-amelia {
    width: 320px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  .technical-skills {
    display: flex;
  }

  .technical-skills-block {
    flex: 1;
    flex-grow: 1;
  }

  .technical-skills-right {
    margin-left: 20px;
  }

  .react-project-image-container {
    width: 600px;
  }

  .react-project-image {
    width: 600px;
  }

  .other-projects-container {
    display: flex;
  }

  .other-project-image-container {
    width: 300px;
  }

  .other-project-image {
    width: 300px;
  }

  .left-project {
    margin-right: 10px;
  }

  .right-project {
    margin-left: 10px;
  }

  .other-project {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-title {
    font-size: 60px;
  }

  .contact-main-text {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  /* .technical-skills {
    display: flex;
  } */

  .intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .img-amelia {
    margin-left: 70px;
    margin-right: 70px;
    width: 350px;
  }

  .intro-sub-text {
    padding-bottom: 0px;
  }

  .intro-container {
    padding-bottom: 140px;
  }

  .technical-skills-intro {
    font-size: 20px;
  }

  .technical-skill-text {
    font-size: 15px;
  }

  .react-projects-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .react-project {
    display: flex;
    max-width: 1350px;
    justify-content: center;
    align-items: center;
  }

  .react-project-text-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .other-projects-container {
    justify-content: center;
  }

  .other-project-image-container {
    width: 400px;
  }

  .other-project-image {
    width: 400px;
  }

  .left-project {
    margin-right: 40px;
  }

  .right-project {
    margin-left: 40px;
  }

  .other-project {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
