body {
  margin: 0;
  padding: 0;
  /* font-family: "Open Sans", sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.my-name {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.nav-item {
  margin-left: 15px;
  text-decoration: none;
}

.intro-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 120px;
  padding-bottom: 140px;
  background-color: #e2defc;
}

h1 {
  font-size: 35px;
}

.intro-title {
  font-weight: 1200;
  margin-bottom: 150px;
}

.intro-main-text {
  font-size: 20px;
  margin-bottom: 70px;
}

.intro-sub-text {
  font-size: 15px;
}

h2 {
  font-weight: 1000;
  font-size: 20px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 0;
}

.technical-skills-container {
  padding-left: 50px;
  padding-right: 50px;
  justify-content: left;
}

.technical-skills-intro {
  margin-top: 50px;
  margin-bottom: 100px;
}

.technical-skills {
  margin-bottom: 80px;
}

.technical-skills-block {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  margin-bottom: 10px;
}

.technical-skill {
  /* display: flex; */
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}

/* .technical-skill-logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.technical-skill-logo-title {
  width: 100%;
  height: auto;
}

.logo-container {
  background-color: #e2defc;
  width: 70px;
  /* width: 100%; */
  height: 70px;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.technical-skill-logo {
  display: block;
  max-width: 60px;
  max-height: 50px;
  width: auto;
  height: auto;
  margin: auto auto;
}

/* .technical-skill-title {
  margin-top: 5px;
} */

/* .technical-skill-text {
  margin-left: 20px;
} */

.technical-skill-text {
  grid-column: 2;
  margin-top: auto;
  margin-bottom: auto;
}

.projects-container {
  background-color: #e2defc;
}

.projects-title {
  background-color: #e2defc;
  padding-left: 50px;
  margin-bottom: 0px;
}

.projects {
  margin-bottom: 80px;
}

.react-projects {
  padding-left: 20px;
  padding-right: 20px;
}

.project {
  background-color: #ebeef2;
  padding: 50px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 15px;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 60px;
  padding-left: 30px;
  font-weight: 700;
}

.project-image-container {
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-style: solid;
  border-width: 15px;
  border-image-source: url(img/border2.jpg);
  border-image-slice: 60 30;
}

.project-image {
  width: 160px;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 50px;
}

.project-text {
  margin-bottom: 40px;
}

.project-button {
  background-color: #bbb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #999;
}

.css-projects {
  background-color: white;
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
}

.js-projects {
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
}

.contact-container {
  text-align: center;
}

.contact-title {
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 30px;
}

.contact-main-text {
  font-size: 15px;
  margin-bottom: 100px;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 15px;
  }

  header {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }

  h1 {
    font-size: 50px;
  }

  .intro-main-text {
    font-size: 30px;
  }

  .intro-sub-text {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }

  .react-project-image-container {
    width: 400px;
  }

  .react-project-image {
    width: 400px;
  }

  .other-project-image-container {
    width: 400px;
  }

  .other-project-image {
    width: 400px;
  }

  .contact-title {
    font-size: 40px;
  }

  .contact-main-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  body {
    font-size: 20px;
  }

  header {
    font-size: 20px;
  }

  .nav-item {
    margin-left: 30px;
  }

  h1 {
    font-size: 75px;
  }

  .intro-main-text {
    font-size: 40px;
  }

  .intro-sub-text {
    font-size: 25px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  .technical-skills {
    display: flex;
  }

  .react-project-image-container {
    width: 600px;
  }

  .react-project-image {
    width: 600px;
  }

  .other-projects-container {
    display: flex;
  }

  .other-project-image-container {
    width: 300px;
  }

  .other-project-image {
    width: 300px;
  }

  .left-project {
    margin-right: 10px;
  }

  .right-project {
    margin-left: 10px;
  }

  .other-project {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-title {
    font-size: 60px;
  }

  .contact-main-text {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 40px;
  }

  /* .technical-skills {
    display: flex;
  } */

  .technical-skills-intro {
    font-size: 20px;
  }

  .react-projects-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .react-project {
    display: flex;
    max-width: 1350px;
    justify-content: center;
    align-items: center;
  }

  .react-project-text-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .other-projects-container {
    justify-content: center;
  }

  .other-project-image-container {
    width: 400px;
  }

  .other-project-image {
    width: 400px;
  }

  .left-project {
    margin-right: 40px;
  }

  .right-project {
    margin-left: 40px;
  }

  .other-project {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
